# Manual Data Preprocessing

In [47]:
from warnings import filterwarnings
filterwarnings("ignore")

### Step 1 : Read dataset

In [48]:
# Apply below only for cars93
import pandas as pd
df = pd.read_csv("Cars93.csv",na_values= ["","NA"],keep_default_na=False)
df.head()

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

NaN - Not A Number or missing value in dataframe

### Step 2 : Perform basic data quality checks

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  93 non-null     int64
 1   Manufacturer        93 non-null     object
 2   Model               93 non-null     object
 3   Type                93 non-null     object
 4   Min.Price           93 non-null     float64
 5   Price               93 non-null     float64
 6   Max.Price           93 non-null     float64
 7   MPG.city            93 non-null     int64
 8   MPG.highway         93 non-null     int64
 9   AirBags             89 non-null     object
 10  DriveTrain          93 non-null     object
 11  Cylinders           93 non-null     object
 12  EngineSize          93 non-null     float64
 13  Horsepower          93 non-null     int64
 14  RPM                 93 non-null     int64
 15  Rev.per.mile        93 non-null     int64
 16  Man.trans.avail     93 non-null     object
 17  Fuel.tank.capacity  93 non-null     float64
 18  Passengers          93 non-null     int64
 19  Length              93 non-null     int64
 20  Wheelbase           93 non-null     int64
 21  Width               93 non-null     int64
 22  Turn.circle         93 non-null     int64
 23  Rear.seat.room      91 non-null     float64
 24  Luggage.room        82 non-null     float64
 25  Weight              93 non-null     int64
 26  Origin              93 non-null     object
 27  Make                93 non-null     object
dtypes: float64(7), int64(12), object(9)
memory usage: 20.5+ KB

In [50]:
# check missing values in dataframe
m = df.isna().sum()
m[m>0]

AirBags            4
Rear.seat.room     2
Luggage.room      11
dtype: int64

### Replace missing values
continuous values(numeric) - mean, median

categorical values (Text) - Mode (Most Frequently occuring)

In [51]:
df.duplicated().sum()

0

In [52]:
# Drop Duplicated
df = df.drop_duplicates(keep= "first")

## Problem statement - Estimate weight of the car
seperate X(Independent features) and y (weight)

weight ~ Remaining features

Statistically insignificant feature - id(Drop)

In [53]:
df.columns

Index(['id', 'Manufacturer', 'Model', 'Type', 'Min.Price', 'Price',
       'Max.Price', 'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain',
       'Cylinders', 'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile',
       'Man.trans.avail', 'Fuel.tank.capacity', 'Passengers', 'Length',
       'Wheelbase', 'Width', 'Turn.circle', 'Rear.seat.room', 'Luggage.room',
       'Weight', 'Origin', 'Make'],
      dtype='object')

In [54]:
x = df.drop(columns=["id","Weight"])
x.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,13.2,5,177,102,68,37,26.5,11.0,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,18.0,5,195,115,71,38,30.0,15.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,16.9,5,180,102,67,37,28.0,14.0,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,Front,...,21.1,6,193,106,70,37,31.0,17.0,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,21.1,4,186,109,69,39,27.0,13.0,non-USA,BMW 535i

In [55]:
y = df[["Weight"]]
y.head()

   Weight
0    2705
1    3560
2    3375
3    3405
4    3640

### All Preprocessing steps should be applied on x dataframe 

Missing values treatment

df.fillna(value)

1.Cat - Mode

2.Con - Mean, Median

In [56]:
x.columns

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Origin', 'Make'],
      dtype='object')

In [57]:
x.dtypes

Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city                int64
MPG.highway             int64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower              int64
RPM                     int64
Rev.per.mile            int64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers              int64
Length                  int64
Wheelbase               int64
Width                   int64
Turn.circle             int64
Rear.seat.room        float64
Luggage.room          float64
Origin                 object
Make                   object
dtype: object

In [58]:
cat = list(x.columns[x.dtypes == "object"])
cat

['Manufacturer',
 'Model',
 'Type',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'Man.trans.avail',
 'Origin',
 'Make']

In [59]:
con = list(x.columns[x.dtypes != "object"])
con

['Min.Price',
 'Price',
 'Max.Price',
 'MPG.city',
 'MPG.highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev.per.mile',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn.circle',
 'Rear.seat.room',
 'Luggage.room']

In [60]:
for i in df.columns:
    print(i)

id
Manufacturer
Model
Type
Min.Price
Price
Max.Price
MPG.city
MPG.highway
AirBags
DriveTrain
Cylinders
EngineSize
Horsepower
RPM
Rev.per.mile
Man.trans.avail
Fuel.tank.capacity
Passengers
Length
Wheelbase
Width
Turn.circle
Rear.seat.room
Luggage.room
Weight
Origin
Make

In [61]:
df["AirBags"].value_counts()

Driver only           42
None                  33
Driver & Passenger    14
Name: AirBags, dtype: int64

In [62]:
df["AirBags"].mode()

0    Driver only
Name: AirBags, dtype: object

In [63]:
df["AirBags"].mode()[0]

'Driver only'

In [64]:
df["Rear.seat.room"].mean()

27.82967032967033

In [65]:
def replacer(df):
    cat = list(df.columns[df.dtypes == "object"])
    for i in df.columns:
        if i in cat:
            md = df[i].mode()[0]
            df[i] = df[i].fillna(md)
        else:
            means= df[i].mean()
            df[i] = df[i].fillna(means)

In [66]:
replacer(x)

In [67]:
x.isna().sum()

Manufacturer          0
Model                 0
Type                  0
Min.Price             0
Price                 0
Max.Price             0
MPG.city              0
MPG.highway           0
AirBags               0
DriveTrain            0
Cylinders             0
EngineSize            0
Horsepower            0
RPM                   0
Rev.per.mile          0
Man.trans.avail       0
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Turn.circle           0
Rear.seat.room        0
Luggage.room          0
Origin                0
Make                  0
dtype: int64

### Feature Engineering

1. cat - Onehotencoding is preferred

In [68]:
from sklearn.preprocessing import OneHotEncoder
x_cat = x[cat]
x_con = x[con]

In [69]:
x_cat

,Manufacturer,Model,Type,AirBags,DriveTrain,Cylinders,Man.trans.avail,Origin,Make
0,Acura,Integra,Small,None,Front,4,Yes,non-USA,Acura Integra
1,Acura,Legend,Midsize,Driver & Passenger,Front,6,Yes,non-USA,Acura Legend
2,Audi,90,Compact,Driver only,Front,6,Yes,non-USA,Audi 90
3,Audi,100,Midsize,Driver only,Front,6,Yes,non-USA,Audi 100
4,BMW,535i,Midsize,Driver only,Rear,4,Yes,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,None,Front,5,Yes,non-USA,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,None,Front,4,Yes,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,None,Front,6,Yes,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,Driver only,Rear,4,Yes,non-USA,Volvo 240
92,Volvo,850,Midsize,Driver & Passenger,Front,5,Yes,non-USA,Volvo 850

In [70]:
x_cat["Cylinders"].unique()

array(['4', '6', '8', '3', 'rotary', '5'], dtype=object)

In [71]:

ohe = OneHotEncoder(
    handle_unknown='ignore',
    sparse_output=False
    ).set_output(transform="pandas")
x_cat_pre = ohe.fit_transform(x_cat)

In [72]:
x_cat_pre

,Manufacturer_Acura,Manufacturer_Audi,Manufacturer_BMW,Manufacturer_Buick,Manufacturer_Cadillac,Manufacturer_Chevrolet,Manufacturer_Chrylser,Manufacturer_Chrysler,Manufacturer_Dodge,Manufacturer_Eagle,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
89,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
92,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [73]:
x_cat_pre.to_csv("categorical.csv",index=False)

### Apply standard scaler on continous (numerical )

In [74]:
x_con

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room
0,12.9,15.9,18.8,25,31,1.8,140,6300,2890,13.2,5,177,102,68,37,26.5,11.000000
1,29.2,33.9,38.7,18,25,3.2,200,5500,2335,18.0,5,195,115,71,38,30.0,15.000000
2,25.9,29.1,32.3,20,26,2.8,172,5500,2280,16.9,5,180,102,67,37,28.0,14.000000
3,30.8,37.7,44.6,19,26,2.8,172,5500,2535,21.1,6,193,106,70,37,31.0,17.000000
4,23.7,30.0,36.2,22,30,3.5,208,5700,2545,21.1,4,186,109,69,39,27.0,13.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,16.6,19.7,22.7,17,21,2.5,109,4500,2915,21.1,7,187,115,72,38,34.0,13.890244
89,17.6,20.0,22.4,21,30,2.0,134,5800,2685,18.5,5,180,103,67,35,31.5,14.000000
90,22.9,23.3,23.7,18,25,2.8,178,5800,2385,18.5,4,159,97,66,36,26.0,15.000000
91,21.8,22.7,23.5,21,28,2.3,114,5400,2215,15.8,5,190,104,67,37,29.5,14.000000
92,24.8,26.7,28.5,20,28,2.4,168,6200,2310,19.3,5,184,105,69,38,30.0,15.000000

In [75]:
from sklearn.preprocessing import StandardScaler

In [76]:
scaler = StandardScaler().set_output(transform="pandas")
x_con_pre = scaler.fit_transform(x_con)
x_con_pre

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room
0,-0.485787,-0.375720,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,-1.062184,-0.083243,-0.427186,-0.286932,-0.366184,-0.610436,-0.452197,-1.033015
1,1.388017,1.497844,1.531409,-0.781032,-0.770514,0.515869,1.078322,0.369586,0.005661,0.409445,-0.083243,0.812171,1.629649,0.431983,-0.298510,0.738090,0.396643
2,1.008658,0.998227,0.948052,-0.423219,-0.581941,0.128186,0.540813,0.369586,-0.105713,0.072197,-0.083243,-0.220626,-0.286932,-0.632239,-0.610436,0.057926,0.039228
3,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,1.359872,0.884457,0.674465,0.302785,0.165927,-0.610436,1.078172,1.111472
4,0.755752,1.091905,1.303535,-0.065407,0.172352,0.806631,1.231897,0.706562,0.430909,1.359872,-1.050944,0.192493,0.745073,-0.100128,0.013416,-0.282156,-0.318186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,-0.060445,0.019810,0.073018,-0.959938,-1.524806,-0.162577,-0.668585,-1.315292,1.180155,1.359872,1.852158,0.261346,1.629649,0.698038,-0.298510,2.098419,0.000000
89,0.054512,0.051036,0.045673,-0.244313,0.172352,-0.647181,-0.188665,0.875050,0.714407,0.562740,-0.083243,-0.220626,-0.139503,-0.632239,-1.234288,1.248213,0.039228
90,0.663786,0.394523,0.164167,-0.781032,-0.770514,0.128186,0.655993,0.875050,0.106911,0.562740,-1.050944,-1.666543,-1.024079,-0.898295,-0.922362,-0.622238,0.396643
91,0.537333,0.332071,0.145937,-0.244313,-0.204794,-0.356418,-0.572601,0.201098,-0.237337,-0.265051,-0.083243,0.467905,0.007926,-0.632239,-0.610436,0.568049,0.039228
92,0.882205,0.748418,0.601684,-0.423219,-0.204794,-0.259498,0.464025,1.549001,-0.044963,0.808011,-0.083243,0.054786,0.155356,-0.100128,-0.298510,0.738090,0.396643

### Join x_cat_pre and x_con_pre

In [77]:
x_pre = x_con_pre.join(x_cat_pre)
x_pre.head()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
0,-0.485787,-0.375720,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,-1.062184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.388017,1.497844,1.531409,-0.781032,-0.770514,0.515869,1.078322,0.369586,0.005661,0.409445,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.008658,0.998227,0.948052,-0.423219,-0.581941,0.128186,0.540813,0.369586,-0.105713,0.072197,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,1.359872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.755752,1.091905,1.303535,-0.065407,0.172352,0.806631,1.231897,0.706562,0.430909,1.359872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [78]:
x_pre.to_csv("Preprocessed.csv",index=False)

### Train Test split

Test size should be between 20 and 30

In [79]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest= train_test_split(x_pre,y,test_size=0.2,random_state=42)

In [84]:
xtrain

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
65,-0.048950,-0.042642,-0.036362,-0.959938,-1.147660,0.322027,0.137680,-0.809828,-0.541086,1.022624,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,-0.278864,-0.334085,-0.355385,-0.781032,-1.147660,1.097393,0.502419,-0.809828,-1.300456,1.022624,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68,-0.336343,-0.334085,-0.318925,0.113500,0.360925,-0.453339,-0.649388,-0.135877,0.471409,-0.050439,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78,-0.911130,-0.875337,-0.820247,1.008032,1.680937,-0.744101,-1.129307,-0.472853,-0.379087,-1.184820,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,-1.175531,-1.260459,-1.275994,1.544751,0.738071,-1.325626,-1.551637,-0.472853,1.656027,-2.043270,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,-0.301856,-0.386129,-0.437419,0.113500,-0.204794,0.322027,-0.054288,-0.472853,-0.490461,-0.203734,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60,-0.255873,-0.479807,-0.637948,-0.602126,-0.581941,1.097393,-0.073484,-2.494706,-1.219457,0.409445,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
71,-0.658223,-0.531850,-0.410075,0.113500,0.172352,-0.841022,-0.994930,-0.472853,0.056286,-0.234393,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,-0.428309,-0.375720,-0.318925,-0.244313,-0.016221,-0.453339,-0.649388,-0.135877,0.532158,-0.050439,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,1.985795,1.726835,1.449374,-0.781032,-0.581941,1.872759,1.270290,-1.146804,-0.996708,1.022624,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [85]:
ytrain

    Weight
65    4100
15    3715
68    2890
78    2495
30    1845
..     ...
20    3085
60    3610
71    2640
14    3195
51    4055

[74 rows x 1 columns]

### Fit the model on train and test

In [86]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(xtrain,ytrain)

LinearRegression()

In [87]:
xtrain.shape

(74, 257)

In [88]:
model.intercept_

array([3112.64174559])

In [89]:
model.coef_

array([[-9.59866614e+00,  1.43546461e+01,  7.36959444e+00,
        -2.44082553e+01, -8.20930010e+01,  1.61834036e+01,
         1.34888583e+02, -4.30813581e+01, -1.90594352e+01,
         1.19156402e+01,  7.31142576e+01,  5.86964869e+01,
         1.29237952e+02,  7.85203930e+01,  3.29036920e+01,
        -2.71055666e+01,  9.83896429e+00, -2.96927137e+01,
         2.84155532e+01,  2.35926690e-01, -3.28143063e+01,
        -5.80547941e+01, -2.55573765e+01,  1.61102280e+01,
         6.02040504e+01,  5.41540582e+01, -3.72674528e+01,
         3.22224909e+00, -7.49395589e+00,  4.18464779e+01,
        -1.51481512e+01,  8.95972233e+00,  2.57515137e+01,
         2.81353583e+01, -2.81933753e+01, -3.88708265e+01,
         1.52502541e+01, -6.30235485e+01,  3.93599452e+01,
        -4.61297351e+01,  1.29736702e+01, -3.80104570e+01,
        -5.33700926e+01, -1.35411563e+01,  9.90982676e+00,
         1.03619462e+01,  4.35698802e+01,  8.33629622e+01,
         8.90710733e+00, -4.06729187e+01, -1.45210459e+01,
        -3.04380210e+00, -2.40076076e+01,  1.88744028e+01,
        -5.23243595e-02,  5.98590733e+00,  1.20272702e+01,
         6.79539003e+01, -5.32446286e+01,  3.01980932e+01,
         6.40029769e-02,  6.44453247e-02,  1.04042406e+01,
        -4.37325026e+01,  1.95595604e+01, -1.05485171e+01,
        -2.12910253e+01, -7.75084537e+00,  1.26236753e+01,
        -5.81430139e+01, -5.10524077e+01,  3.50058512e+01,
        -1.75798613e+01,  1.13140788e+01,  0.00000000e+00,
         1.59943774e+01,  2.64231935e+01,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  2.29532110e+01,
         1.12543083e+01,  1.31453135e+01, -5.78302344e+01,
         0.00000000e+00,  0.00000000e+00,  2.55714766e+01,
        -3.72306967e+01,  0.00000000e+00,  2.43890093e+01,
         6.66796266e+01,  3.59829500e+01, -2.25139627e+00,
        -2.40486280e+01, -1.88373963e+01,  4.23484608e+00,
         5.23870535e+01,  0.00000000e+00,  1.23195938e+01,
         1.30134633e+01,  7.83389650e+00,  0.00000000e+00,
        -4.62635965e+01,  5.45248301e+01, -3.19625986e+01,
        -5.66353361e+01,  6.74799398e+01,  4.64096862e-01,
         0.00000000e+00, -8.25991141e+01, -7.68770518e+00,
        -6.30726253e+01,  1.82534210e+01,  3.53160867e+01,
         0.00000000e+00,  3.04536590e+01, -4.87877575e+01,
        -1.93368536e+01,  9.48076045e+00,  8.98218318e+01,
        -3.40943761e+01,  1.22124612e+01,  1.84471938e+01,
         0.00000000e+00, -1.33893238e+01, -1.55369763e+01,
         2.17009659e+01,  0.00000000e+00,  1.98462730e+01,
        -2.18273933e+01, -3.60620728e+01, -3.21425845e-01,
         9.30181414e+01,  0.00000000e+00,  0.00000000e+00,
        -3.74436320e+01,  1.03851585e+01,  4.47084401e+01,
        -4.39562958e+01,  0.00000000e+00,  1.86097014e+00,
        -3.71067438e+01,  7.40221947e+00, -4.67473329e+01,
        -1.58892488e+01, -2.73912414e+01,  1.80871549e+01,
         6.32509480e+01, -1.59693920e+01,  1.76526295e+01,
        -1.41017944e+00,  4.47408401e+01, -2.86633933e+01,
        -1.61607930e+01,  1.49710083e+01, -7.17592344e+01,
         7.86747699e+01,  3.51410008e+01, -2.30276275e+01,
        -3.40943761e+01, -5.78647725e-01,  1.06761221e+00,
        -6.01494981e+01,  6.06664431e+01,  0.00000000e+00,
        -3.19625986e+01, -4.06879901e+01,  6.80402832e+01,
         0.00000000e+00, -1.73679947e+01, -4.62635965e+01,
         1.22124612e+01,  1.84471938e+01, -5.78302344e+01,
         0.00000000e+00, -4.36655342e+01, -1.06740661e+01,
         1.24470814e+01, -5.11903793e+01,  0.00000000e+00,
         0.00000000e+00,  6.74799398e+01,  4.64096862e-01,
         1.59943774e+01,  5.23870535e+01,  7.83389650e+00,
        -5.81526388e+01,  0.00000000e+00,  0.00000000e+00,
         1.98462730e+01, -3.21425845e-01,  9.30181414e+01,
         0.00000000e+00, -3.71067438e+01,  0.00000000e+00,
         1.12543083e+01,  2.43890093e+01, -2.25139627e+00,
         1.82534210e+01, -4.87877575e+01,  4.47084401e+01,
        -4.39562958e+01, -7.68770518e+00,  0.00000000e+00,
         3.03203904e+01,  1.13140788e+01,  0.00000000e+00,
         0.00000000e+00,  3.59829500e+01, -1.55369763e+01,
        -3.60620728e+01,  9.48076045e+00,  2.55714766e+01,
         0.00000000e+00,  2.64231935e+01,  1.86097014e+00,
         1.90013802e+01,  6.23806861e+00,  0.00000000e+00,
        -1.93368536e+01, -3.40943761e+01, -1.45065792e+01,
        -2.39928592e+01, -7.78436198e+00,  2.29532110e+01,
         0.00000000e+00, -6.30726253e+01,  1.02140148e+01,
        -8.25991141e+01,  8.98218318e+01,  2.17009659e+01,
         0.00000000e+00,  1.31453135e+01, -3.72306967e+01,
        -2.18273933e+01,  1.30134633e+01,  1.96084789e+01,
        -2.40486280e+01,  4.23484608e+00,  0.00000000e+00,
        -3.74436320e+01, -5.32827214e+01, -1.33893238e+01,
         1.23195938e+01,  5.45248301e+01, -5.66353361e+01,
         1.03851585e+01, -2.14162454e+01,  3.50771587e+01,
         3.04536590e+01,  0.00000000e+00,  0.00000000e+00,
         6.66796266e+01, -1.88373963e+01,  3.53160867e+01,
        -3.19216859e+00,  1.21219486e+01]])

In [90]:
xtrain.columns

Index(['Min.Price', 'Price', 'Max.Price', 'MPG.city', 'MPG.highway',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Fuel.tank.capacity',
       ...
       'Make_Toyota Camry', 'Make_Toyota Celica', 'Make_Toyota Previa',
       'Make_Toyota Tercel', 'Make_Volkswagen Corrado',
       'Make_Volkswagen Eurovan', 'Make_Volkswagen Fox',
       'Make_Volkswagen Passat', 'Make_Volvo 240', 'Make_Volvo 850'],
      dtype='object', length=257)

In [93]:
len(model.coef_[0])

257

### Model evaluation

In [94]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,mean_absolute_percentage_error,r2_score

In [95]:
def evaluate_model(model,x,y):
    #predict the result
    ypred = model.predict(x)
    #evaluate the metrics
    mse = mean_squared_error(y,ypred)
    rmse=mse**(1/2)
    mae = mean_absolute_error(y,ypred)
    mape = mean_absolute_percentage_error(y,ypred)
    r2 = r2_score(y,ypred)
    #print the result
    print(f"MSE : {mse:.2f}")
    print(f"RMSE : {rmse:.2f}")
    print(f"MAE : {mae:.2f}")
    print(f"MAPE : {mape:.4f}")
    print(f"R2Score : {r2:.4f}")

In [96]:
evaluate_model(model,xtrain,ytrain)

MSE : 0.00
RMSE : 0.00
MAE : 0.00
MAPE : 0.0000
R2Score : 1.0000

In [98]:
ypred_train = model.predict(xtrain)
ypred_train[0:5]

array([[4100.],
       [3715.],
       [2890.],
       [2495.],
       [1845.]])

In [99]:
ytrain[0:5]

    Weight
65    4100
15    3715
68    2890
78    2495
30    1845

In [97]:
evaluate_model(model,xtest,ytest)

MSE : 25852.20
RMSE : 160.79
MAE : 119.14
MAPE : 0.0405
R2Score : 0.9217

In [102]:
ypred_ytest = model.predict(xtest)
ypred_ytest[0:5].round(3)

array([[2905.184],
       [2325.522],
       [3789.205],
       [2111.189],
       [2724.826]])

In [101]:
ytest[0:5]

    Weight
40    2865
22    2270
55    3735
72    2350
0     2705

### Because R2 score of both train and test >0.8 hence above model is good and can be used for out of sample prediction

In [103]:
xnew = pd.read_csv("sample.csv",na_values=["","NA"],keep_default_na=False)
xnew.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Origin,Make
0,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,Front,...,15.0,6,190,106,65,37,31.0,17.0,non-USA,Audi 100
1,Pontiac,Sunbird,Compact,9.4,11.1,12.8,23,31,None,Front,...,15.2,5,181,101,66,39,25.0,13.0,USA,Pontiac Sunbird
2,Chevrolet,Lumina,Midsize,13.4,15.9,18.4,21,29,None,Front,...,16.5,6,198,108,71,40,28.5,16.0,USA,Chevrolet Lumina
3,Mazda,RX-7,Sporty,32.5,32.5,32.5,17,25,Driver only,Rear,...,20.0,2,169,96,69,37,NaN,NaN,non-USA,Mazda RX-7
4,Volkswagen,Fox,Small,8.7,9.1,9.5,25,33,None,Front,...,12.4,4,163,93,63,34,26.0,10.0,non-USA,Volkswagen Fox

In [104]:
xnew.isna().sum()

Manufacturer          0
Model                 0
Type                  0
Min.Price             0
Price                 0
Max.Price             0
MPG.city              0
MPG.highway           0
AirBags               1
DriveTrain            0
Cylinders             0
EngineSize            0
Horsepower            0
RPM                   0
Rev.per.mile          0
Man.trans.avail       0
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Turn.circle           0
Rear.seat.room        1
Luggage.room          1
Origin                0
Make                  0
dtype: int64

In [105]:
replacer(xnew)

In [107]:
xnew.isna().sum()

Manufacturer          0
Model                 0
Type                  0
Min.Price             0
Price                 0
Max.Price             0
MPG.city              0
MPG.highway           0
AirBags               0
DriveTrain            0
Cylinders             0
EngineSize            0
Horsepower            0
RPM                   0
Rev.per.mile          0
Man.trans.avail       0
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Turn.circle           0
Rear.seat.room        0
Luggage.room          0
Origin                0
Make                  0
dtype: int64

### Seperate cat and con

In [109]:
cat

['Manufacturer',
 'Model',
 'Type',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'Man.trans.avail',
 'Origin',
 'Make']

In [110]:
con

['Min.Price',
 'Price',
 'Max.Price',
 'MPG.city',
 'MPG.highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev.per.mile',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn.circle',
 'Rear.seat.room',
 'Luggage.room']

In [111]:
xnew_cat = xnew[cat]
xnew_con = xnew[con]

In [112]:
xnew_cat

,Manufacturer,Model,Type,AirBags,DriveTrain,Cylinders,Man.trans.avail,Origin,Make
0,Audi,100,Midsize,None,Front,6,Yes,non-USA,Audi 100
1,Pontiac,Sunbird,Compact,None,Front,4,Yes,USA,Pontiac Sunbird
2,Chevrolet,Lumina,Midsize,None,Front,4,No,USA,Chevrolet Lumina
3,Mazda,RX-7,Sporty,Driver only,Rear,rotary,Yes,non-USA,Mazda RX-7
4,Volkswagen,Fox,Small,None,Front,4,Yes,non-USA,Volkswagen Fox

In [113]:
xnew_con

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room
0,30.8,37.7,44.6,19,26,2.8,172,5500,2535,15.0,6,190,106,65,37,31.000,17.0
1,9.4,11.1,12.8,23,31,2.0,110,5200,2665,15.2,5,181,101,66,39,25.000,13.0
2,13.4,15.9,18.4,21,29,2.2,110,5200,2595,16.5,6,198,108,71,40,28.500,16.0
3,32.5,32.5,32.5,17,25,1.3,255,6500,2325,20.0,2,169,96,69,37,27.625,14.0
4,8.7,9.1,9.5,25,33,1.8,81,5500,2550,12.4,4,163,93,63,34,26.000,10.0

In [115]:
xnew_cat_pre = ohe.transform(xnew_cat)
xnew_cat_pre

,Manufacturer_Acura,Manufacturer_Audi,Manufacturer_BMW,Manufacturer_Buick,Manufacturer_Cadillac,Manufacturer_Chevrolet,Manufacturer_Chrylser,Manufacturer_Chrysler,Manufacturer_Dodge,Manufacturer_Eagle,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [116]:
xnew_con_pre = scaler.transform(xnew_con)
xnew_con_pre

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room
0,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,-0.510323,0.884457,0.467905,0.302785,-1.164350,-0.610436,1.078172,1.111472
1,-0.888138,-0.875337,-0.829362,0.113500,0.360925,-0.647181,-0.649388,-0.135877,0.673908,-0.449005,-0.083243,-0.151773,-0.434362,-0.898295,0.013416,-0.962320,-0.318186
2,-0.428309,-0.375720,-0.318925,-0.244313,-0.016221,-0.453339,-0.649388,-0.135877,0.532158,-0.050439,0.884457,1.018731,0.597644,0.431983,0.325342,0.227967,0.754057
3,1.767376,1.352122,0.966282,-0.959938,-0.770514,-1.325626,2.134145,2.054464,-0.014589,1.022624,-2.986345,-0.978011,-1.171509,-0.100128,-0.610436,-0.069605,0.039228
4,-0.968608,-1.083511,-1.130155,0.471312,0.738071,-0.841022,-1.206095,0.369586,0.441034,-1.307455,-1.050944,-1.391130,-1.613797,-1.696461,-1.546214,-0.622238,-1.390430

In [118]:
xnew_pre = xnew_con_pre.join(xnew_cat_pre)
xnew_pre

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
0,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,-0.510323,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-0.888138,-0.875337,-0.829362,0.113500,0.360925,-0.647181,-0.649388,-0.135877,0.673908,-0.449005,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.428309,-0.375720,-0.318925,-0.244313,-0.016221,-0.453339,-0.649388,-0.135877,0.532158,-0.050439,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.767376,1.352122,0.966282,-0.959938,-0.770514,-1.325626,2.134145,2.054464,-0.014589,1.022624,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.968608,-1.083511,-1.130155,0.471312,0.738071,-0.841022,-1.206095,0.369586,0.441034,-1.307455,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [119]:
pred = model.predict(xnew_pre)
pred

array([[3247.07439548],
       [2575.        ],
       [3195.        ],
       [2897.27264226],
       [2240.        ]])

### Save above results in CSV

In [120]:
xnew["Weight_est"] = pred
xnew

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Origin,Make,Weight_est
0,Audi,100,Midsize,30.8,37.7,44.6,19,26,None,Front,...,6,190,106,65,37,31.000,17.0,non-USA,Audi 100,3247.074395
1,Pontiac,Sunbird,Compact,9.4,11.1,12.8,23,31,None,Front,...,5,181,101,66,39,25.000,13.0,USA,Pontiac Sunbird,2575.000000
2,Chevrolet,Lumina,Midsize,13.4,15.9,18.4,21,29,None,Front,...,6,198,108,71,40,28.500,16.0,USA,Chevrolet Lumina,3195.000000
3,Mazda,RX-7,Sporty,32.5,32.5,32.5,17,25,Driver only,Rear,...,2,169,96,69,37,27.625,14.0,non-USA,Mazda RX-7,2897.272642
4,Volkswagen,Fox,Small,8.7,9.1,9.5,25,33,None,Front,...,4,163,93,63,34,26.000,10.0,non-USA,Volkswagen Fox,2240.000000

In [121]:
xnew.to_csv("Predictions.csv",index=False)